
body {
	color: #082639;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #D4E6F1;
}
.blog-home {
/*	border-top: #34495E 1px solid; */
	border-left: #34495E 1px solid;
	border-right: #34495E 1px solid;
	border-bottom: #34495E 1px solid;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	padding-top: 20px;
	background-color: #9FC0E3;
}
.main-user-error-msgs {
	color: white;
	font-size: 20px;
	background: #CF0808;
	text-align: center;
	width: 100%;
	display: block;
}
.main-user-notice-msgs {
	color: white;
	font-size: 20px;
	background: green;
	text-align: center;
	width: 100%;
	display: block;
}
.main-user-error-msgs a, .main-user-notice-msgs a {
	text-decoration: none;
	color: #CFB208;
}
.post-forms-error {
	padding-top: 6px;
	color: red;
}
.title {
	width: 100%;
	/*position: absolute;
	top: 0px;
	left:20px;
	color: ghostwhite;*/
	text-align: center;
}
.title > a {
	text-decoration: none !important;
}
.title > a > h2 {
	background: hsla(204, 62%, 34%, 0.95);
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 12px;
	padding-bottom: 12px;
	height: auto;
	color: ghostwhite;
}
.permalink {
	margin-top: 10px;
	font-size: 10px;
	text-align: right;
	clear: both;
}
.signup_login {
	text-align: right;
}
.newpost_link {
	/*margin-top: .9em;*/
	/*margin-left: 8%;*/
	width: 95px;
	padding: 8px;
	text-align: center;
	/*background-color: #3A9149 !important;*/
	/*CSS3 Appearance...not universally supported....e.g. in IE*/
	/*appearance: button;
	-moz-appearance: button;
	-webkit-appearance: button;*/
	text-decoration: none;
}
.newpost_link a:visited {
	color: ghostwhite;
	text-decoration: none;
}
.newpost_link a {
	/*color: #3A9149 !important;*/
	text-decoration: none;
}
.signup_login {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 18px;
}
.signup_login div {
	display: inline;
	color: ghostwhite;
}
.signup_login a {
	text-decoration: none !important;
}
.signup_link {
	color: ghostwhite;	
}
.login_link {
	color: ghostwhite;
}

/* Logged in User Specific */
.loggedin-user {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 18px;
}
.loggedin-user div {
	display: inline;
	color: ghostwhite;
}
.loggedin-user a {
	text-decoration: none !important;
}
.user-link {
	color: ghostwhite;
}
.logout-link {
	color: ghostwhite;
}
/* Nav Menu Logout Link */
.nav-logout-link {
	display: none;
}
.post-subject {
	font-size: 18px;
	font-weight: bold;
}
.post-createdby {
	display: inline-flex;
	font-size: 14px;
	float: right;
	clear: both;
}
.post-createdby-name {
	font-size: 14px;
	font-weight: bold;
}
.post-date-time {
	font-size: 14px;
	float: right;
	clear: both;
}
.header {
	position: relative;
	background: linear-gradient(rgba(125,125,255,.1),rgba(125,25,255,.1)), url("../images/handwriting_bg.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: #212F3D;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 0 auto;
	width: 100%;
}
.header-logo img {
	position: relative;
	opacity: 1;
	-webkit-filter: contrast(125%);
}
.header img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.header-top, .header-bottom {
	height: 1px;
	background-color: #21618C;
}
/*
.post {
	background-color: #D4E6F1 !important;
}*/
.post-section {
	/*margin-top: 18px;*/
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 24px;
	border: #34495E 1px solid;
	/*background-color: #D4E6F1 !important;*/
	background-color: #BED6E5;
	padding: 8px;
}

/* User SignUp Form Specific */
#signupform {
	float: left;
	margin-bottom: 10px;
}
.user-signup-content {
	padding: 12px;
	margin-left: 8px;
}
.left_signup input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	width: 50%;
	display: inline-block;
}
.left_signup label {
	display: block;
	text-align: right;
	margin-left: 0px;
}
.left_signup input, .left_signup label {
	margin-bottom: 8px;
}
#signupform div {
	overflow: hidden;
}
.left_signup {
	width: auto;
	float: left;
}
.right_signup {
	color: red;
	font-weight: bold;
	display: block;
}
.right_signup div {
	display: block;
	margin-left: 10px;
	height: 38px;
}
.bottom_signup {
	width: 100%;
	float: left;
	display: inline;
}
.email_validation {
	margin-bottom: 0px !important;
}

/* Login Form Specific */
#loginform {
	float: left;
	margin-bottom: 50px;
}
.user-login-content {
	padding: 12px;
	margin-left: 8px;
}
.top-login input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	width: 75%;

	display: inline-block;
}
.top-login label {
	display: block;
	/*text-align: right;*/
	margin-left: 0px;
}
.top-login input, .top-login label {
	margin-bottom: 8px;
}
#loginform div {
	overflow: hidden;
}
.bottom-login {
	color: red;
	font-weight: bold;
	display: block;
}
.bottom-login div {
	display: inline;
	height: 38px;
}
.login-error {
	margin-bottom: 0px !important;
}

/* NewPost Form Specific */
.newpost-content {
	padding: 12px;
	margin-left: 8px;
}
.newpost {
	margin: 0 auto;
}
.newpost label, .newpost input {
	display: block;
}
.newpost input, .newpost textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 5px;
}
.newpost input {
	width: 75%;
}
.newpost textarea {
	width: 75%;
	height: 200px;
	font-family: sans-serif;
}
#newpost-submit {
	width: auto;
}
.newpost > form > .error {
	color: red;
	font-weight: bold;
}

/* EditPost Form Specific */
.editpost-content {
	padding: 12px;
	margin-left: 8px;
}
.editpost {
	margin: 0 auto;
}
.editpost label, .editpost input {
	display: block;
}
.editpost input, .editpost textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 5px;
}
.editpost input {
	width: 75%;
}
.editpost textarea {
	width: 75%;
	height: 200px;
	font-family: sans-serif;
}
#editpost-submit {
	width: auto;
}
.editpost > form > .error {
	color: red;
	font-weight: bold;
}

/* Post EDIT and DELETE Forms */
.post-edit-form, .post-delete-form, .post-like-form, .post-comment-form {
	display: inline;
}

/* Welcome Page Specific */
.welcome-content {
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-top: 0px;
	margin-left: 8px;
}
.welcome-content h1 {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}
.welcome-content hr {
	clear: both;
}
.welcome-title {
	display: inline;
	clear: both;
}
.current-date-time {
	font-size: 14px;
	float: right;
	display: inline;
	clear: both;
}

/* Welcome page TABS */
.welcome-tab-container {
	overflow: hidden;
	clear: both;
	background-color: #D4E6F1;
}
.welcome-tab-container div {
/*	background-color: #EBF5FB; */
}
#my-posts, #all-posts {
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	margin-top: 2.20em;
	background-color: #EBF5FB;
}
#my-posts {
	border: #34495E 1px solid;
}
#all-posts {
	border: #34495E 1px solid;
}
#my-posts > h3, #all-posts > h3 {
	-webkit-margin-before: 0px;
}
.my-posts-user, .all-posts-user, .posts-newposts {
	display: block;
}

.posts-newposts {
	margin-top: .9em;
	width: 95px;
	padding: 8px;
	text-align: center;
	background-color: #3A9149 !important;
	color: ghostwhite !important;
	text-decoration: none;
}
.posts-newposts a:visited {
	color: ghostwhite;
	text-decoration: none;
}
.posts-newposts a {
	color: ghostwhite;
	text-decoration: none;
}
.welcome-tab-container ul {
	position: relative;
	list-style-type: none;

	-webkit-padding-start: 30px;
	-webkit-margin-before: 0px;
	padding-block-end: 0.1em; /*Need for Firefox*/
}
.welcome-tab-container li {
	float: left;

}
.welcome-tab-container > ul > li {
	margin-right: 8px;
}
.welcome-tab-container > ul > li > a {
	display: block;
	padding: 8px;
	text-align: center;
	text-decoration: none;

	color: #FFFFFF;
	background-color: #34495E;

	border-top: 1px solid #34495E;
	border-left: 1px solid #34495E;
	border-right: 1px solid #34495E;
	border-bottom: 1px solid #EBF5FB;
}
.welcome-tab-container > ul > li > a:hover {
	background-color: #EBF5FB;
	color: black;
}
.welcome-tab-container > ul > li > .active {
	background-color: #EBF5FB;
	color: #212F3D;
	border-bottom 0px;
	font-weight: bold;
}
.welcome-tab-target:before {
	/* Values are 0 here because it is mainly
	   a fix for screens below 600px.
	   This class is applied/removed to/from
	   elements in our helper javascript files. */
	height: 0px;
	width:0;
	display: block;
	margin-top: -0px !important;
	content: " ";
	visibility: hidden;
}

/* Navigation Menu Specific */
.nav-menu {
	/*margin-left: 0.9em;*/
	position: relative;
	/*left:10px;*/
	width: 100%;
	min-height: 56px;
	/*height: 3em;*/
	background: #34495E;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.nav-menu div {
	display: inline-block;
	width: 95px;
	padding-left: 8px;
	padding-right:	8px;
	padding-bottom: 8px;
	padding-top: 18px;
	text-align: center;
	background-color: #34495E;
	color: ghostwhite;
	text-decoration: none;
}
.nav-menu a:visited {
	color: ghostwhite;
	text-decoration: none;
}
.nav-menu div:hover {
	background-color: #D4E6F1;
}
.nav-menu div:hover :nth-child(1) {
	color: #082639;
}
.nav-menu a {
	color: ghostwhite;
	text-decoration: none;
}
.nav-menu-home-active {
	background-color: #9FC0E3 !important;
	border-left: #34495E !important;
	margin-left: 1px;
}
.nav-menu-item-active a, .nav-menu-home-active a {
	color: #082639 !important;
}
.nav-menu-item-active {
	background-color: #D4E6F1 !important;
	border-left: #34495E !important;
}
.nav-logo {
	padding-top: 4px !important;
}
.nav-logo img {
	height: auto;
}
.nav-logo-hidden {
	display: none !important;
}
.nav-logo-visible {
	display: block;
}
.home-link-hidden {
	display: none !important;
}
.home-link-visible {
	display: block;
}
.nav-item-hidden {
	display: none !important;
}
.nav-item-visible {
	display: block;
}
/* Permalink PAGE specific */
.permalink-title, .permalink-subtitle {
	text-align: center;
	margin-bottom: 18px;
	font-size: 1.3em;
}
.permalink-title {
	font-size: 2em;
}

/* Form buttons */
input[type=submit], .btn-normal {
	padding: 6px 10px;
	background: #34495E;
	color: #D4E6F1;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	text-decoration: none;
	font-size: 1em;
}
.btn-post-like {
	opacity: 1;
}
.btn-post-unlike {
	background: #154270 !important;
}
.btn-post-comment {
	opacity: 1;
}
/* Unused for switching styles
   based on whether a user is
   the post "owner" or just a
   "viewer". For instance in 
   the case a USER doesn't 
   have ability to use a 
   specific function: e.g. 
   (trying to like
   their own POST, deleting
   someone else's post, etc.)
*/
.btn-post-owner {
	/* Default .btn-normal above used for now
	   Keeping to eventually use custome style
	   here later */
}
.btn-post-viewer {
	/* Mute our buttons to indicate that their
	   functions can't be used by current user */
	background: #787F9C;
}

/* Media Queries */
@media screen and (max-width:600px) {
	/* User Signup Form */
	.left_signup input, .left_signup label {
		display: block;
	}
	.left_signup label {
		text-align: left;
	}
	.left_signup input {
		width: auto;
	}
	.right_signup div {
		margin-top: 7px;
		height: 46px;
	}

	/* Login Form */
	.top-login input, .top-login label {
		display: block;
	}
	.top-login label {
		text-align: left;
	}
	.top-login input {
		width: auto;
	}

	/* Posts Formatting */
	.post-section {
		margin-left: 0px;
		margin-right: 0px;
	}
	.post {
		margin-bottom: 45px;
	}
	.post-edit-form {
		position: relative;
		top: 0px;
	}
	.post-delete-form {
		position: relative;
		top: 0px;
	}
	.post-edit-form, .post-delete-form {
		display: inline;
	}
	#my-posts, #all-posts {
		margin-top: 2.24em;
	}
	
	/* Navigation Menu Specific */
	.nav-menu {
		margin-left: 0em;
		left:0px;
	}
	.nav-menu div {
		width: auto;
		/*margin-bottom: 18px;*/
		padding-left: 6px;
		padding-right: 6px;
		padding-bottom: 6px;
	}
	.newpost_link {
		margin-left: 4%;
	}

	/* Permalink PAGE specific */
	.permalink-title, .permalink-subtitle {
		font-size: 1.6em;
	}
	/* Welcome Page Specific */
	.welcome-content {
		padding-left: 2px;
		padding-right: 8px;
	}
	.welcome-tab-target:before {
		height: 120px;
		width:0;
		display: block;
		margin-top: -20px !important;
		content: " ";
		visibility: hidden;
	}
}

@media screen and (min-width:1025px) {
	html {
		display: table;
		margin: auto;
	}
	body {
		display: table-cell;
		vertical-align: middle;
		width: 1024px;
		background-color: #D4E6F1;
	}
	.welcome-tab-container {
		background-color: #D4E6F1;
	}
	.loggedin-user {
		left: 64%;
	}
	.signup_login {
		left: 70%;
		text-align: left;
	}
	.post-section {
		/*background-color: #D4E6F1;*/
		padding: 1em;
	}
	.nav-menu {
		width: 1025px;
	}
}
