
body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.title {
	width: 100%;
	/*position: absolute;
	top: 0px;
	left:20px;
	color: ghostwhite;*/
	text-align: center;
}
.title > a {
	text-decoration: none !important;
}
.title > a > h2 {
	background: hsla(204, 62%, 34%, 0.95);
	margin-top: 0px;
	padding-top: 12px;
	height: 45px;
	color: ghostwhite;
}
.permalink {
	margin-top: 10px;
	font-size: 10px;
	text-align: right;
}
.newpost_link, .signup_login {
	text-align: right;
}
.signup_login {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 18px;
}
.signup_login div {
	display: inline;
	color: ghostwhite;
}
.signup_login a {
	text-decoration: none !important;
}
.signup_link {
	color: ghostwhite;	
}
.login_link {
	color: ghostwhite;
}
/* Logged in User Specific */
.loggedin-user {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 18px;
}
.loggedin-user div {
	display: inline;
	color: ghostwhite;
}
.loggedin-user a {
	text-decoration: none !important;
}
.user-link {
	color: ghostwhite;
}
.logout-link {
	color: ghostwhite;
}
.post-subject {
	font-size: 18px;
	font-weight: bold;
}
.post-createdby {
	display: inline-flex;
	font-size: 14px;
	
	position: absolute;
	right: 16px;
}
.post-createdby-name {
	font-size: 14px;
	font-weight: bold;
}
.post-date-time {
	font-size: 14px;
	
	position: absolute;
	right: 16px;
	margin-top: 20px;
}
.header {
	position: relative;
	background: linear-gradient(rgba(125,125,255,.1),rgba(125,25,255,.1)), url("../images/handwriting_bg.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: #212F3D;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 0 auto;
	width: 100%;
}
.header-logo img {
	position: relative;
	opacity: 1;
	-webkit-filter: contrast(125%);
}
.header img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.header-top, .header-bottom {
	height: 1px;
	background-color: #21618C;
}
.content {
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
}

/* For Buttons */
.btn-text {
	width: 55px;
	height: 20px;
	color: black;
}

/* User SignUp Form Specific */
#signupform {
	float: left;
	margin-bottom: 10px;
}
.left_signup input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	width: 50%;
	display: inline-block;
}
.left_signup label {
	display: block;
	text-align: right;
	margin-left: 0px;
}
.left_signup input, .left_signup label {
	margin-bottom: 8px;
}
#signupform div {
	overflow: hidden;
}
.left_signup {
	width: auto;
	float: left;
}
.right_signup {
	color: red;
	font-weight: bold;
	display: block;
}
.right_signup div {
	display: block;
	margin-left: 10px;
	height: 38px;
}
.bottom_signup {
	width: 100%;
	float: left;
	display: inline;
}
.email_validation {
	margin-bottom: 0px !important;
}

/* Login Form Specific */
#loginform {
	float: left;
	margin-bottom: 10px;
}
.top-login input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	width: 75%;

	display: inline-block;
}
.top-login label {
	display: block;
	/*text-align: right;*/
	margin-left: 0px;
}
.top-login input, .top-login label {
	margin-bottom: 8px;
}
#loginform div {
	overflow: hidden;
}
.bottom-login {
	color: red;
	font-weight: bold;
	display: block;
}
.bottom-login div {
	display: inline;
	height: 38px;
}
.login-error {
	margin-bottom: 0px !important;
}

/* NewPost Form Specific */
.newpost {
	margin: 0 auto;
}
.newpost label, .newpost input {
	display: block;
}
.newpost input, .newpost textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 5px;
}
.newpost input {
	width: 75%;
}
.newpost textarea {
	width: 75%;
	height: 200px;
}
#newpost-submit {
	width: auto;
}
.newpost > form > .error {
	color: red;
	font-weight: bold;
}

/* Welcome page TABS */
.welcome-tabs {
	overflow: hidden;
	clear: both;
	background-color: #FFFFFF;
}
.welcome-tabs div {
	background-color: #EBF5FB;
}
#my-posts, #all-posts {
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	margin-top: 2.17em;
}
#my-posts {
	border: #34495E 1px solid;
}
#all-posts {
	border: #34495E 1px solid;
}
#my-posts > h3, #all-posts > h3 {
	-webkit-margin-before: 0px;
}
.welcome-tabs ul {
	position: relative;
	list-style-type: none;

	-webkit-padding-start: 30px;
	-webkit-margin-before: 0px;
}
.welcome-tabs li {
	float: left;

}
.welcome-tabs > ul > li {
	margin-right: 8px;
}
.welcome-tabs > ul > li > a {
	display: block;
	padding: 8px;
	text-align: center;
	text-decoration: none;

	color: #FFFFFF;
	background-color: #34495E;

	border-top: 1px solid #34495E;
	border-left: 1px solid #34495E;
	border-right: 1px solid #34495E;
	border-bottom: 1px solid #EBF5FB;
}
.welcome-tabs > ul > li > a:hover {
	background-color: #EBF5FB;
	color: black;
}
.welcome-tabs > ul > li > .active {
	background-color: #EBF5FB;
	color: #212F3D;
	border-bottom 0px;
	font-weight: bold;
}


/* Media Queries */
@media screen and (max-width:600px) {
	/* User Signup Form */
	.left_signup input, .left_signup label {
		display: block;
	}
	.left_signup label {
		text-align: left;
	}
	.left_signup input {
		width: auto;
	}
	.right_signup div {
		margin-top: 7px;
		height: 46px;
	}

	/* Login Form */
	.top-login input, .top-login label {
		display: block;
	}
	.top-login label {
		text-align: left;
	}
	.top-login input {
		width: auto;
	}

	/* Posts Formatting */
	.post {
		margin-bottom: 45px;
	}
	.post-createdby {
		left: 16px;
		margin-top: -28px;
	}
	.post-date-time {
		left: 16px;
		margin-top: -10px;
	}
	.post-subject {
		position: relative;
		top: 34px;
	}
	.post-content {
		position: relative;
		top: 34px;
	}
	.permalink {
		position: relative;
	}
	#post-delete-form {
		position: relative;
		top: 0px;
	}

	#my-posts, #all-posts {
		margin-top: 2.24em;
	}
}
