<!-- Ink,Pen,Bam Nav Menu -->
<div class="nav-menu">
	<div class="nav-logo nav-logo-hidden"><a href="/blog">
		<img src="/images/InkPenBam_logo_tiny.png" alt="Home Link Logo"></a></div>
	<div class="home-link home-link-visible"><a href="/blog">Home</a></div>
	<div class="signup_link"><a href="/blog/signup">Signup</a></div>
	<div class="login_link"><a href="/blog/login">Login</a></div>
	<div class="newpost_link"><a href="/blog/newpost">* Post *</a></div>
	<!--TODO: Implement Logout Link somewhere in Menu for User experience-->
	<div class="nav-logout-link"><a href="/blog/logout">Logout</a></div>
</div>
