{% extends "base.html" %}

{% block title %}
	Ink, Pen, Bam! | Add NEW Post
{% endblock %}

{% block content %}
	<div class="newpost">
	<h3>new post</h3>
		<form method="post" id="newpost_form">
			<label for="subject">subject</label>
			<input type="text" name="subject" value="{{subject}}">
			<div class="error">
				{{subject_validation}}
			</div>
			
			<label for="content">blog</label>
			<textarea name="content">{{content}}</textarea>
			<div class="error">
				{{content_validation}}
			</div>

			<input id="newpost-submit" type="submit" value="Submit">
		</form>
	</div>	
{% endblock %}
