<hr>
<div class="post">
	<div class="post-subject">
		{{post.subject}}
	</div>

	<div class="post-createdby">
		Posted by:&nbsp;<div class="post-createdby-name">{{post.created_by}}</div>
	</div>

	<div class="post-date-time">
		{{post.created.strftime("%b %d, %Y | %-I:%M %p")}}
	</div>

	<div class="post-content">{{post._render_content | safe}}</div>
</div>
<div class="permalink"><a href="/blog/{{post.key().id()}}">Permalink: {{post.key().id()}}</a></div>
<form action="/blog/{{post.key().id()}}" method="POST" id="post-delete-form">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="post_id" value="{{post.key().id()}}">
	<button class="btn-text" type="submit" value="Delete">Delete</button>
</form>
